@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100%;
  }

  #root {
    height: 100%;
  }
}

@layer utilities {
  .btnHoverTransition {
    transition: all 0.3s;
  }

  .btnGradient {
    background-image: linear-gradient(#c4520a, #c4172e, #c4172e, #6b1b68);
    background-size: auto 200%;
    background-position: 0 100%;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
    transition: background-position 0.3s;
  }

  .btnGradient:active,
  .btnGradient:hover {
    background-position: 0 0;
  }

  .btnGradient:focus {
    outline: #fff;
    box-shadow: none;
  }

  #gem {
    transition: all 0.5s;
  }

  #gem:hover,
  #gem:active {
    fill: #ffd1e0;
  }
}
