@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100%;
  }

  #root {
    height: 100%;
  }
}

@layer utilities {
  .btnHoverTransition {
    transition: all 0.3s;
  }
}
